
# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build outputs
# dist/
build/
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Logs
logs/
*.log

# Misc
.cache/
.temp/

# ASHDLADXZCZC
# 2014-12-19T05:36:21 – EHu1mOjaraXJaWzx2oiY
# 2015-07-20T19:52:45 – EQFCHhQKCxEwSCFt77Gi
# 2015-12-10T17:40:55 – s8stxKKk1nzSGvafltYH
# 2017-01-22T07:06:50 – kx80GouhBRl0igFBhcAx
# 2017-10-24T11:36:30 – RRZDPoN0Wg4nGFi7yEVu
# 2017-12-18T18:00:52 – ETeFKUKAWF4uAJmk6THT
# 2018-05-20T06:45:24 – CzsW4kRoHtyYBPhnfbiY
# 2019-10-19T15:51:34 – hBu5oHyP9eSfQyEAds7o
