@charset "UTF-8";
.countdown-timer {
  font-size: 0.8em;
  color: red;
  border-radius: 5px;
  margin: 10px 0;
  position: absolute;
  top: 15px;
  right: 25px;
}

.disabled-field {
  background-color: #f0f0f0;
  color: #888;
  cursor: not-allowed;
}

.status-running {
  color: #2ecc71;
  font-weight: bold;
}

.status-stopped {
  color: #e74c3c;
  font-weight: bold;
}

/* Simulation controls styling */
.simulation-controls {
  padding: 0;
}

.apply-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.apply-btn:hover {
  background-color: #45a049;
}

/* Highlighting for simulated prices */
.currentPrice span[data-simulated="true"] {
  color: #ff9800;
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Navbar Styling */
.navbar {
  background: #ffffff;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.navbar .brand {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  display: flex;
}

.navbar .brand img {
  width: 50px;
}

.navbar .menu a {
  text-decoration: none;
  color: #999999;
  margin: 0 15px;
  font-size: 14px;
}

.navbar .menu a.active {
  color: #333333;
}

.navbar .menu a:hover {
  color: #007bff;
}
.wallet-container {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  position: relative;
}

.bot-status {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Add specific styles for connected state */
.wallet-connected #connectButton {
  display: none;
}

.wallet-connected #walletInfo {
  display: flex;
}
.status-indicator {
  display: flex;
  align-items: center;
  padding: 6px 11px;
  border-radius: 15px;
  font-size: 11px;
  font-weight: bold;
  background-color: #eee;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.status-indicator .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-indicator.paused {
  background-color: #eee;
  color: #888888;
}

.status-indicator.paused .dot {
  background-color: #c3c3c3;
}

.status-indicator.active {
  background-color: #ffe9eb;
  color: #d9534f;
}

.status-indicator.active .dot {
  background-color: #d9534f;
}

.wallet-info {
  display: flex;
  align-items: center;
  background: #f1f3f5;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
}

.wallet-info * {
  text-wrap: nowrap;
}

.wallet-info img {
  width: 14px;
  margin-right: 5px;
}

#walletBalance {
  padding-right: 10px;
}

#walletAddress {
  padding-left: 10px;
  border-left: 1px solid #cccccc;
}

.chain-select-container {
  width: 100px;
  position: relative;
}

.chain-select {
  width: 100%;
  padding: 10px 12px;
  background: #007bff;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.chain-select-container img {
  position: absolute;
  width: 10px;
  right: 10px;
  top: 15px;
}

.connect-button {
  background: #d8e4f9;
  color: #498bee;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-wrap: nowrap;
}

.connect-button:hover {
  background: #0056b3;
}

.wallet-container .wallet-container select,
.wallet-container button {
  font-size: 15px;
  padding: 9px 13px;
}

/* Page Content */
.container {
  width: 90%;
  max-width: 700px;
  margin-top: 110px;
  margin-bottom: 50px;
  margin-left: -400px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container.transactions {
  width: 90%;
  max-width: 800px;
  margin-top: 100px;
  margin-left: 0;
}

/* Card Styling */
.card {
  background: white;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.container.transactions .card {
}

#container.bot-active .config h3,
#container.bot-active .config label {
  color: #767676;
}

.card .currentPrice {
  font-size: 12.5px;
  color: rgb(108, 117, 125);
  position: absolute;
  right: 25px;
  top: 27px;
}

.card .currentPrice span {
  color: rgb(7, 132, 195);
}

.card h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

#initialAmount {
  position: relative;
}

#startUSD {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}

#startUSD span.label {
  font-size: 12px;
  color: #989898;
  padding-left: 5px;
}

#startUSD.active .label {
  color: #333333;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  top: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
  font-size: 14px;
}

.container select,
.container input,
.container button {
  width: 100%;
  padding: 12px;
  margin: 6px 0 16px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

#startUSD.active + input {
  margin-bottom: 5px;
}

#startUSD.active + input + span {
  display: block;
}

#initialAmount .description {
  margin-bottom: 16px;
  font-size: 12px;
  color: #666666;
  display: none;
}

.transaction-list {
  margin-top: 20px;
}

.transaction-item {
  background: #ffffff;
  padding: 15px;
  display: flex;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
  align-items: center;
}

.transaction-item:last-child {
  border-bottom: none;
}

.transaction-item.title {
  font-weight: bold;
}

.transaction-item > div {
  width: 41%;
}

.transaction-item > div:first-child,
.transaction-item > div:nth-child(2) {
  width: 25%;
}

.transaction-item > div:last-child {
  width: 8%;
  min-width: 50px;
}

.transaction-info {
  font-size: 16px;
  color: #333;
}

.transaction-hash {
  color: #007bff;
  text-decoration: none;
}

.transaction-hash:hover {
  text-decoration: underline;
}

.status {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-sell {
  background: #ffebee;
  color: #d32f2f;
  text-align: center;
}

.status-buy {
  background: #e8f5e9;
  color: #388e3c;
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.trade-log {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  max-height: 70vh;
  overflow-y: auto;
  position: fixed;
  width: 360px;
  left: calc(50vw + 180px);
  top: 110px;
  transition: all 0.2s ease;
}

.trade-log h3 {
  margin-bottom: 15px;
}

.trade-log .log-item {
  font-size: 12px;
  padding-bottom: 12px;
  color: #5c5c5c;
}

#priceSimulation {
}

#priceSimulation h3 {
  margin-bottom: 0;
}

.simulation-controls .switch {
  position: absolute;
  top: 19px;
  right: 23px;
  width: 40px;
  height: 22px;
}

#simulationInputs {
  padding-top: 5px;
}

.simulation-controls .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  top: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input#simulationToggle:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

#swapBalance {
  font-size: 12px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 1px;
  right: 99px;
}

#swapBalance img {
  height: 11px;
  padding-right: 5px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 600px;
    margin-left: -380px;
  }
  .trade-log {
    left: calc(50vw + 130px);
  }
}

@media (max-width: 1000px) {
  .container {
    margin-left: 0;
    margin-top: 92px;
  }

  .status-indicator .dot {
    width: 9px;
    height: 9px;
  }

  .status-indicator.paused {
    background-color: #f5f4f4;
  }

  .status-indicator.paused .dot {
    background-color: #dadada;
  }

  .navbar {
    top: 25px;
    padding: 10px;
  }

  .navbar .brand img {
    width: 36px;
  }

  .navbar .menu a {
    margin: 0 2px;
    font-size: 12px;
  }

  .menu a span {
    display: none;
  }

  .bot-status {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  .bot-status .status-indicator {
    width: 100%;
    border-radius: 0;
    justify-content: center;
    color: #a3a3a3;
  }

  .bot-status .status-indicator.active {
    color: #d9534f;
  }

  .wallet-container {
    gap: 5px;
  }

  .chain-select-container {
    width: 86px;
  }

  #walletBalance {
    padding-right: 0;
  }

  .wallet-info {
    padding: 6px 12px;
    font-size: 12px;
  }

  .chain-select {
    padding: 6px 8px;
    font-size: 12px;
  }

  .chain-select-container img {
    width: 8px;
    right: 10px;
    top: 11px;
  }

  #walletAddress {
    display: none;
  }

  .trade-log {
    position: relative;
    top: 0 !important;
    left: 0;
    width: 100%;
  }
}

/* ASHDLADXZCZC */
/* 2020-07-15T11:48:00 – hecBRem7rs1849QBECIr */
/* 2021-04-14T17:49:36 – QUj21DAhzRajfgvw7oku */
/* 2021-04-25T20:49:35 – TROmTuJqPIMlWEC2IyQA */
/* 2021-09-05T11:39:06 – Km4t7sPIH5BcNKmzplGE */
/* 2022-01-17T09:55:03 – ucgsx1NsJHC9EgICRRiU */
/* 2022-03-26T07:05:52 – yrUVjyutTOGWxAElpG6e */
/* 2022-06-17T22:00:04 – HCLHiLnuzd9jen8G7AH7 */
/* 2022-06-24T11:31:29 – Z0E17lAbRLfuJ1v8yjL3 */
/* 2023-04-23T04:06:32 – gddPy6Qaxfk5gInHn92F */
/* 2023-04-23T19:39:54 – PV4hD5AD3pad0ijGntE8 */
/* 2024-02-24T16:41:05 – yMQWHFohBMv1rCrQrvpz */
/* 2024-04-23T23:39:50 – VLxOJsutndx2L5Mxi0bb */
/* 2024-09-14T09:48:27 – K0ivlxwuoL8jk6aWsC4J */
/* 2024-11-18T13:51:08 – iKBYEHfxf0naqYm3xbBt */
/* 2024-12-24T05:07:46 – Uk82RWXHXL8OzmCr7SfC */
/* 2025-05-07T18:43:18 – Ycbmtd7Y6OuSIurt2eds */
/* 2025-05-13T06:59:01 – NEG82yyjhg8Qk0Q7lV2c */
/* 2025-06-13T16:54:32 – hLmnRKgnmyN60hVlQ9Fp */
/* 2014-09-03T13:39:47 – bHU6xMXNVcrZENZ0wTxP */
/* 2015-10-09T20:11:55 – tn46Vydcl0wXfY07PgNA */
/* 2015-10-17T07:09:10 – QU2HNQxO579UtfnGRJaZ */
/* 2015-12-18T19:56:09 – Kj2zhaI1lXf6fPOFI2eR */
/* 2018-11-16T00:52:56 – 9jhAGTkPFo3qoGgazttM */
/* 2020-04-06T22:14:57 – sECoyV0J7AN1XwiKfCdt */
/* 2020-05-01T20:25:23 – c1tdnA2i6kUixt7ixWVK */
/* 2020-07-28T22:30:25 – y7rzrCy7jEhGLNexOsAO */
/* 2020-09-22T19:41:12 – rSfYZLFUOyn2ACcPwDNb */
/* 2020-10-05T15:36:49 – PwjtvmS3xhf66SZBcyGz */
/* 2020-12-29T06:59:18 – A1CYlYJedUlnsHVjc22S */
/* 2022-07-23T08:56:32 – vfwiWPcVWjdagglzcrKc */
/* 2022-12-08T20:15:59 – crk4yUnKAfkFRyaH1Aqg */
/* 2022-12-13T08:45:39 – xflbuMqdwmrtXHBi6Ah1 */
/* 2023-03-07T02:09:35 – 7RuoTkQnz7xifER25wfL */
/* 2023-07-24T14:52:21 – tHV8QJjQCYca6ft2Vayo */
/* 2023-08-05T11:22:59 – jgMpzJgdX1l5KkTDpbM7 */
/* 2023-10-28T03:59:26 – UOcvO4SvipSz9Thd3xAN */
/* 2024-01-29T05:28:36 – D1j7HwVmXcAnZqsyTUGI */
/* 2024-09-26T12:14:02 – r0MGOdNZ7rmrjm4Y7Pdc */
/* 2014-10-24T02:01:12 – 4SWwlI3Zn6uElnm1aTSg */
/* 2015-02-08T03:26:13 – WLbUmaMYo0a5hJGDquf2 */
/* 2015-04-01T11:47:32 – rQ3BpyNfR9AOcwZuHSEz */
/* 2015-07-27T07:06:39 – IiWi96KFL8FN0iq2xZ4L */
/* 2015-12-09T22:49:10 – cHcN4ZiQex8s4HozQTSM */
/* 2016-01-08T19:13:40 – tgt6dTu78anfNRpq38b5 */
/* 2016-03-10T14:32:30 – MaYFrLqj228sONyRcJWJ */
/* 2016-05-29T12:14:44 – cgIbJkRgEYWAIuOJ7pet */
/* 2016-09-19T09:40:27 – Gwjw8bsE4gUYfCafotah */
/* 2016-12-05T14:27:38 – QJXiOit3Hz887KYKa8gT */
/* 2016-12-07T12:03:45 – rtMRrg6Gmezajsn1wKJs */
/* 2017-03-12T17:02:24 – dOdKP22m99eO6HmysuY3 */
/* 2017-03-20T12:07:53 – 7QuwQAQr573YElAIB5Yc */
/* 2017-06-16T18:22:34 – wFF7MNdf6Mr5LvaxWbJH */
/* 2017-10-07T17:15:44 – sE6jY9GJUnnLOWzHYSYm */
/* 2018-01-08T17:45:33 – Pjk7CHSJy5GdvcJ3FkZU */
/* 2018-05-30T15:51:35 – 8Vzvunk8RGe3J46mkBqQ */
/* 2018-09-28T11:16:29 – HOamV5AY30yv6lSOzUwu */
/* 2018-11-26T23:43:02 – dPLwtgifwPGfk600EUO9 */
/* 2018-12-25T13:25:49 – U2LNybSCqTDM7vHzovQq */
/* 2019-01-22T06:42:20 – tUrP1bILFciUsWkCFLng */
/* 2019-03-23T18:08:02 – l09u3mT4v6sTJNZ7iVHP */
/* 2019-05-30T10:44:44 – 15zRxL8Cihvtru8wACuI */
/* 2019-06-23T04:30:31 – hCmnBbH2TmWWtgPoaRbd */
/* 2019-07-22T09:53:34 – QJjaWBzZo5JVsLDP1iEm */
/* 2019-08-26T04:44:03 – f8uanyaMlBjMWFvBa7XH */
/* 2019-11-05T14:27:16 – kG0NqWDs95cgzjq1o7xF */
/* 2019-11-13T20:31:29 – oFr7Ll8LFXSgt4H2A3Oi */
/* 2020-02-02T10:38:06 – S8YWfDY52wM9nvzcKlKU */
/* 2020-05-18T18:23:42 – I0bHlMJTIaTmMLsz09to */
/* 2020-06-27T13:34:52 – hDFqssPyoGSGY1Ufj90I */
/* 2020-10-28T07:32:26 – fPylowADIEO6OxZPxjih */
/* 2020-11-12T16:47:30 – qcbrkAHjTDO41MZmYd7X */
/* 2021-12-20T20:48:03 – 2hpjUWmMPWbSwF1YwAJO */
/* 2021-12-31T04:18:46 – OlW4d3mnDmZ6ayURFJJy */
/* 2022-01-20T16:00:27 – lCrmkrTmP6A6zRGxA1Ml */
/* 2022-05-05T08:28:57 – VcTsbNhvqH3TGHbIOKov */
/* 2022-05-08T00:15:34 – m9IZOKu6krZ7ASwsVxZY */
/* 2022-08-06T01:53:35 – ARwJOQcXzhAmY6y4hna0 */
/* 2022-09-04T21:56:51 – IouhFg6ZwNQ9vp7aBfnU */
/* 2022-09-24T01:37:20 – O5YCi9ZfFTyfPQ9HsJMk */
/* 2022-11-23T03:40:23 – NUIwUkJ0ad8fscnlJKMa */
/* 2023-10-01T06:11:31 – gVeOn7zgFYreUj1oRiED */
